.main {
    display: flex;
    gap: 51px;
    margin-top: 60px;

    &__block {
        &-title {
            font-weight: 400;
            font-size: 3.6rem;
            line-height: 42px;
            text-transform: uppercase;
            color: #000000;
            margin: 18px 0 27px 0;
        }

        &-description {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 24px;
            color: #666666;
            margin-bottom: 28px;
        }
    }
}