.main {
    display: flex;
    gap: 51px;
    margin-top: 60px;

    &__block {

        &-title {
            font-family: 'Tenor Sans', sans-serif;
            font-size: 3.6em;
            line-height: 42px;
            margin: 18px 0 27px 0;
            font-weight: 400;
            text-transform: uppercase;
            color: #000000;
        }

        &-description {
            font-family: 'Source Serif Pro', serif;
            font-weight: 400;
            font-size: 1.6em;
            line-height: 24px;
            color: #666666;
            margin-bottom: 28px;
        }
    }
}

