.header {
    display: flex;
    justify-content: space-between;
    padding: 37.5px 0;
    
    &__menu {
        display: flex;
        gap: 40px;

        &-link {
            cursor: pointer;
            background: none;
            border: none;

            font-weight: 400;
            font-size: 1.4rem;
            line-height: 24px;
            color: #000000;
            text-decoration: none;
        }
    }

    &__rectangle {
        position: absolute;
        height: 1px;
        left: 0%;
        right: 0%;
        top: 90px;
        background: #E6E6E6;
    }
}

