html {
    font-size: 10px;
    line-height: 10px;
    font-family: 'Libre Franklin', sans-serif;
}

section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.block-title {
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.point {
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.author {
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.card-title {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

#big {
    font-size: 2em;
}

#small {
    font-size: 1.8em;
}

.rectangle {
    height: 1px;
    left: 8.33%;
    right: 8.33%;
    background: #E6E6E6;
    border-radius: 0px;
    margin: 90px 0;
}

@media screen and (max-width: 390px) {
    .rectangle {
        margin: 45px 0;
    }
}
